<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.glwm.mapper.DishMapper">
    <resultMap id="DishAndCategory" type="com.glwm.dto.DishAndCategory">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="categoryName" property="categoryName"/>
        <result column="price" property="price"/>
        <result column="image" property="image"/>
        <result column="description" property="description"/>
        <result column="status" property="status"/>
        <result column="sort" property="sort"/>
        <result column="merchant_id" property="merchantId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <select id="pageDishAndCategory" resultMap="DishAndCategory">
        select d.*,c.name categoryName from dish d left join category c on d.category_id = c.id where d.merchant_id = #{merchantId} <if test="name != null and name!=''">and d.`name` like concat("%",#{name},"%")</if> limit #{page},#{pageSize}
    </select>

    <select id="selectDishTotal" resultType="long">
        select count(*) from dish d left join category c on d.category_id = c.id where d.merchant_id = #{merchantId} <if test="name != null and name!=''">and d.`name` like concat("%",#{name},"%")</if>
    </select>

    <insert id="insertDish" parameterType="com.glwm.entity.Dish" useGeneratedKeys="true" keyProperty="id">
        insert into dish(name,category_id,price,image,description,status,sort,merchant_id,create_time,update_time) values (#{name},#{categoryId},#{price},#{image},#{description},#{status},#{sort},#{merchantId},#{createTime},#{updateTime})
    </insert>

    <insert id="insertDishFlavor" parameterType="com.glwm.entity.DishFlavor">
        insert into dish_flavor(dish_id,name,value,create_time,update_time) values (#{dishId},#{name},#{value},#{createTime},#{updateTime})
    </insert>

    <insert id="insertDishFlavors" parameterType="com.glwm.entity.DishFlavor">
        insert into dish_flavor(dish_id,name,value,create_time,update_time)
        values
        <foreach collection="list" separator="," item="item">
            (#{dishId},#{item.name},#{item.value},now(),now())
        </foreach>
    </insert>

    <update id="updateStatus" parameterType="long">
        update dish set status = #{status} where id in (
            <foreach collection="ids" item="id" separator="," >
                #{id}
            </foreach>
            )
    </update>

    <resultMap id="DishAndFlavor" type="com.glwm.dto.DishAndCategory">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="category_id" property="categoryId"/>
        <result column="price" property="price"/>
        <result column="image" property="image"/>
        <result column="description" property="description"/>
        <result column="status" property="status"/>
        <result column="sort" property="sort"/>
        <result column="merchant_id" property="merchantId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <collection property="flavors" ofType="com.glwm.entity.DishFlavor">
            <result column="value" property="value"/>
            <result column="flavorName" property="name"/>
            <result column="flavorId" property="id"/>
            <result column="dish_id" property="dishId"/>
        </collection>
    </resultMap>
    <select id="selectDishAndFlavor" resultMap="DishAndFlavor">
        select dish.*, dish_flavor.`value`, dish_flavor.`dish_id`, dish_flavor.`id` flavorId, dish_flavor.`name` flavorName from dish left join dish_flavor on dish.id = dish_flavor.dish_id where dish.id = #{id}
    </select>

    <update id="updateDish" parameterType="com.glwm.dto.DishAndCategory">
        update dish set name = #{name}, category_id = #{categoryId}, price = #{price},image = #{image}, description = #{description}, update_time = #{updateTime} where id = #{id}
    </update>

    <delete id="deleteDishFlavor">
        delete from dish_flavor where dish_id = #{id}
    </delete>

    <delete id="deleteDish">
        delete from dish where id in (
        <foreach collection="ids" item="id" separator="," >
            #{id}
        </foreach>
        )
    </delete>

    <select id="selectDishList" resultType="com.glwm.dto.DishAndCategory">
        select d.*,c.name categoryName from dish d left join category c on d.category_id = c.id where d.merchant_id = #{merchantId} and d.category_id = #{categoryId}
    </select>

    <resultMap id="ClientDish" type="com.glwm.dto.DishAndCategory">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="category_id" property="categoryId"/>
        <result column="price" property="price"/>
        <result column="image" property="image"/>
        <result column="description" property="description"/>
        <result column="status" property="status"/>
        <result column="sort" property="sort"/>
        <result column="merchant_id" property="merchantId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <collection property="flavors" ofType="com.glwm.entity.DishFlavor">
            <result column="flavorName" property="name"/>
            <result column="value" property="value"/>
        </collection>
    </resultMap>
    <select id="selectClientDish" resultMap="ClientDish">
        select dish.*,dish_flavor.`name` flavorName,dish_flavor.`value` from dish left join dish_flavor on dish.id = dish_flavor.dish_id where dish.category_id = #{categoryId} and dish.status = #{status}
    </select>
</mapper>